body {
    margin: 0;
    
}
main{
    padding: 10px;
    background-image: url(Images/Village-1.jpg);
    background-size: cover;
    background-color: #bd905a;
}


/* Style the header */
header {
    overflow: hidden;
    background-image: url(Images/Village-1.jpg);
    background-size: cover;
    background-color: #272424;
    padding: 10px 10px;
    text-align: left;
    position: relative;
}

/* Style the logo image */
header img {
    max-height: 100%;
    padding: 10px;
}

nav {
    position: absolute;
    bottom: 0px;
    right: 0px;
    
}

header a {
    float: left;
    color: #272424;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 20px; 
}

#welcome {
    padding-left: 30%;
    background-color: rgba(221, 221, 221, 0.5);
    color: #bd905a;
}

header a:hover {
    background-color: #ddd;
    background-clip: content-box;
    padding: 10px;
    color: black;
  }
  
  header a.active {
    color: white;
  }

  #top-section{
        overflow: hidden;
        background-color: #272424a2;
        color: #bd905a;
        border: 10px solid #bd905a;
        border-top: 0px;
        padding: 10px 10px;
    }

  #description{
    padding-left: 10%;
  }
  #character-art {
    overflow: hidden;
    max-width: 25%;
    border: 5px solid #bd905a;
    float: left;
    padding: 10px 10px;
}
#character-art img {
    max-width: 100%;
    height: auto;
}
#description {
    overflow: hidden;
    border: 5px solid #bd905a;
    padding: 10px 10px;
}

.clearfix{
    clear:both
}
#backstory {
    overflow: hidden;
    float: left;
    border: 5px solid #bd905a;
    padding: 10px 10px;
}

#audio {
    overflow: hidden;
    background-color: #272424;
    color: #bd905a;
    border: 10px solid #bd905a;
    border-top: 0px;
    padding: 10px 10px;
    float: center;
}

#audio h2 {
    text-align: center;
}

#intro figcaption {
    font-size: 22px;
    padding-bottom: 12px; 
}

#intro p {
    padding: 12px;
    border: 5px solid #bd905a;
    border-radius: 4px;
}

/* format the intro audio element*/
#quest {
    float: left;
    text-align: center;
    padding: 12px;
}

#quest figcaption {
    font-size: 22px;
    padding-bottom: 12px; 
}

#quest p {
    padding: 12px;
    border: 5px solid #bd905a;
    border-radius: 4px;
}

/* Style the footer */
footer {
    overflow: hidden;
    background-color: #272424;
    width: 100%;
    padding: 10px 10px;
    border: 10px solid #bd905a;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    color: #bd905a;
}

footer p {
    background-image: url(Images/Village-1.jpg);
    color: #bd905a;
}

#moreNpc {
    background-color: #27242400;
    width: 100%;
    padding: 10px 10;
}

.agnes {
    border-color: #fafafa;
    border: 10px solid #bd905a6c;
    width: 100px; 
    display: inline-flexbox;
    padding: 10px;
    justify-content: space-between;

}