body {
    margin: 0;
}
main{
    padding: 10px;
    background-color: #bd905a;
    border:10px solid rgb(0, 0, 0);    
}

/* Style the header */
header {
    overflow: hidden;
    background-color: #272424;
    padding: 10px 10px;
    text-align: left;
    position: relative;
}

/* Style the logo image */
header img {
    width: 24%;
    max-width: 100%;
    height: auto;
    padding: 10px;
}

nav {
    position: absolute;
    bottom: 0px;
    right: 0px;
    
}

header a {
    float: left;
    color: #bd905a;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;  
}

header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  header a.active {
    color: white;
  }

  .description{
    padding-left: 10 px;

  }

  #top-section img{
    margin:  10px;
    border:10px, solid, #bd905a;
    float: left;
  }

  .audio{
    background-color: steelblue;
    border:10px, solid, #272424;
  }

  .audio h2{

  }

footer {
    overflow: hidden;
    background-color: #272424;
    width: 100%;
    padding: 10px 10px;
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

footer p{
    color: #bd905a;
}